<h1>{{title}}</h1>
<h3>Procédure</h3>
<ul>
  <li>ng new [projectName]</li>
  <li>Ouvrir les projet dans IDE</li>
  <li>ng serve</li>
  <li>Modification HTML</li>
  <li>Constater résultats</li>
</ul>

<button [style.color]="theColor">Go to training</button>
<button [disabled]="isDisabled">Go to admin</button>
<button (click)="f()">set as yellow</button>
<input type="text" [(ngModel)]="pers.firstname">

<select name="abc" id="" (change)="val($event)">
  <option value="red">Rouge</option>
  <option value="blue">Bleu</option>
  <option value="yellow">Jaune</option>
  <option value="darksalmon">Saumon obscur</option>
</select>

<app-parent></app-parent>

<p [style.color]="textColor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam, delectus dicta, dolor eligendi error eveniet fugit harum iure non odit omnis quae quod sed tempora veniam voluptatem, voluptatum! Facilis.</p>


